<p id="notice"><%= notice %></p>

<p>
  <strong>Id sale:</strong>
  <%= @items_sold.id_sale %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @items_sold.cantidad %>
</p>

<%= link_to 'Edit', edit_items_sold_path(@items_sold) %> |
<%= link_to 'Back', items_solds_path %>
