<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @item.descripcion %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @item.modelo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @item.precio %>
</p>

<p>
  <strong>Existencia:</strong>
  <%= @item.existencia %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
